<!DOCTYPE html>
<html lang="en" style="direction: rtl; text-align: right;">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <meta charset="UTF-8">
  <title>المحلات</title>
</head>
<body style="direction: rtl;  text-align: right;">


<section>
<div class="container">
    <div class="row">
        <div class="col text-center mt-2">
                <a href = "/"><img dir="rtl" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/128825855_643092519691837_3131221684331727471_n.jpg?_nc_cat=105&ccb=2&_nc_sid=ae9488&_nc_ohc=WMOAtymkNYcAX-7hFp_&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=670aafc3e87c4fb540894d2ed3e65777&oe=5FE9E3D7" width="300" height="300" class="align-center " alt="" loading="lazy"></a>

        </div>
    </div>
</div>

    <section>
    <div class="container ">
        <div class="row"><div class="col text-center"> <form class="form-inline my-2 my-lg-0" action="{% url 'searchposts' %}" method="GET" value="{{request.GET.q}}">
      <input name="q" value="{{request.GET.q}}" class="form-control mr-sm-4" type="search" placeholder="" aria-label="Search" >
      <button class="btn btn-outline-primary my-2 my-sm-0"  type="submit" name="submit" value="Search">البحث</button>
    </form></div></div>

    </div>
  <div class="row mb-4 wow fadeIn ">

<div class="col-md-12 text-center ">

            <!--Card-->
<h4  style="font-size: 17px;"  class="text-center mb-5">{{ r }} اختر المحل الذي تريد الحصول علي كشف له او ابحث عن برقم السند </h4>



            <!--/.Card-->

          </div>
{% for shop in shop %}
<div class="col-md-12  text-center ">

            <!--Card-->
<a style="text-decoration: none !important;" href="{% url 'detail' shop.id %}"><h4 style="font-size: 17px;"  class="   rounded-pill     mb-4 btn btn-outline-dark border-3  w-75  text-secondery  p-2">{{shop.shop.title}}  من {{ shop.from1|date:'j-n-Y'  }}  الى {{ shop.to|date:'j-n-Y'  }} </h4></a>



            <!--/.Card-->

          </div>
{% endfor %}
   </div>
</section>


</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>